mat-paginator {
  background-color: #6e0b7a;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
.create {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.create button {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #4a0756;
  color: #fff;
  border: none;
}

.create button:hover {
  background-color: #6e0b7a;
  transition: background-color 0.3s;
}

.create h1 {
  text-align: center;
  font-size: 2rem;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;
  background-color: #4a0756;
}

#edit {
  color: rgb(14, 167, 146);
}

#delete {
  color: rgb(218, 71, 71);
}
