<form class="form mat-elevation-z8">
  <h1>Criar uma nova categoria</h1>

  <mat-form-field class="full-width">
    <mat-label>Categoria</mat-label>
    <input required name="nome" minlength="3" maxlength="100" matInput placeholder="Nome da categoria" [formControl]="categoriaControl"/>
  </mat-form-field>

  <button id="create" class="mat-elevation-z8" color="accent" mat-stroked-button (click)="create()">
    Criar
  </button>
  <button class="mat-elevation-z8"  color="warn" mat-stroked-button (click)="cancel()">
    Cancelar
  </button>
</form>
